body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Inter, Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
		"Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html,
body {
	font-size: 14px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

*:focus {
	outline: 2px solid #3c4355;
	outline-offset: -2px;
}

@keyframes fadeUpAnimation {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

.fadeUp {
	animation: fadeUpAnimation 0.2s cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes shake {
	0% {
		transform: translateX(0);
	}
	20% {
		transform: translateX(-5px);
	}
	40% {
		transform: translateX(5px);
	}
	60% {
		transform: translateX(-5px);
	}
	80% {
		transform: translateX(5px);
	}
	100% {
		transform: translateX(0);
	}
}

.shake {
	position: relative;
	animation: shake 0.3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
	transform: translateX(0);
}
